<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <!-- Donations List -->
        <h3>Donations</h3>
        {% for donation in donations %}
        <div class="donation-card">
            <h4>{{ donation.name }}</h4>
            <p>Restaurant: {{ donation.restaurant.name }}</p>
            <p>Donation Date: {{ donation.donation_date }}</p>
            <p>Delivery Time: {{ donation.delivery_time }}</p>
            <p>Created On: {{ donation.created_on }}</p>
            <p>Expiration Date: {{ donation.expiration_date }}</p>
            {% if donation.confirmed %}
            <p>Confirmed</p>
            {% else %}
            <p>Pending Confirmation</p>
            {% endif %}
        </div>
        {% empty %}
        <p>No donations found.</p>
        {% endfor %}
        <!-- End Donations List -->
    </div>
</body>
</html>