<style>
.profile-image {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    object-fit: cover; 
}


</style>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">FoodBridge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/contact/" class="nav-link">Contact</a></li>
                {% if request.user.is_authenticated %}
                    {% if user == "R" and status %}
                        <li class="nav-item"><a href="/donate/" class="nav-link">Donate</a></li>
                        <li class="nav-item"><a href="/charity/" class="nav-link">Charities</a></li>
                        <li class="nav-item"><a href="/logout/" class="nav-link">Log Out</a></li>
                        <li class="nav-item">
                            <a href="{% url 'update_profile' %}" class="nav-link">
                              {% if request.user.restaurant.profile_picture %}
                                <img src="{{ request.user.restaurant.profile_picture.url }}" alt="Profile Picture" class="profile-image" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                              {% else %}
                                <!-- Display a default icon if the profile picture is not set -->
                                <img src="../../media/media/default-profile.png" alt="Default Icon" style="width: 30px;">
                              {% endif %}
                            </a>
                          </li>
                    {% elif user == "N" and status %}
                        <li class="nav-item"><a href="/browse_donations/" class="nav-link">Browse Donations</a></li>
                        <li class="nav-item"><a href="/restaurant/" class="nav-link">Restaurants</a></li>
                        <li class="nav-item"><a href="/logout/" class="nav-link">Log Out</a></li>
                        <li class="nav-item">
                            <a href="{% url 'update_profile' %}" class="nav-link">
                                {% if request.user.ngo.profile_picture %}
                                    <img src="{{ request.user.ngo.profile_picture.url }}" alt="Profile Picture" class="profile-img"  style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                {% else %}
                                    <!-- Display a default icon if the profile picture is not set -->
                                    <img src="../../media/media/default-profile.png" alt="Default Icon" class="profile" style="width: 30px !important;">
                                {% endif %}
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a href="/logout/" class="nav-link">Log Out</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item cta"><a href="/login-register/" class="nav-link">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
