<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Bridge</title>
</head>
<body>
    <h2>Reset Password</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <button type="submit">Change Password</button>
    </form>
</body>
</html>