<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="secondForm" name="form_data_second" class="form active" method="POST" enctype="multipart/form-data" action="{% url 'submit_donation' %}">
        {% csrf_token %}
        <!-- Second Part of the Form -->
        <div id="secondForm">
            <div class="input_field">
                <input type="checkbox" name="check" id="check">Predict <br>
                <label for="ngo" class="form-label">NGO</label>
                <select class="form-control input" id="ngo" name="ngo" required>
                    <option value="" selected disabled hidden></option>
                    {% for ngo in ngos %}
                        <option value="{{ ngo.name }}">{{ ngo.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input_field">
                <label for="delivery_time" class="form-label">Delivery Time</label>
                <input type="time" class="form-control input" id="delivery_time" name="delivery_time" required>
            </div>
            <div class="btn1">
                <button type="submit" name="submit_button" class="btn1 btn-primary1">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>